@use '../../../styles/variables' as *;

.page {
  min-height: 100vh;
  background: var(--bg-primary);
  color: var(--text-primary);
}

.main {
  padding-top: 96px; // Отступ для фиксированного header
  @include mobile {
    padding-top: 0; 
  }
  @include tablet {
    padding-top: 12px; 
  }
}

